/* Header */
header {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1.5rem;
  font-size: 1.5rem;
  font-family: helvetica;
}

header ul {
  display: flex;
  flex-wrap: wrap;
}
header ul li {
  list-style: none;
}
header ul li a {
    text-decoration: none;
    padding-left: 1rem;
}
header ul li a:hover {
  color: green;
}
.logo{
  display: flex;
  align-items: center;
}
.logo img {
  width: 3rem;
  height: 4rem;
}
.colmaracademy {
  list-style: none;
  display: flex;

}
.colmar {
  font-weight: bolder;
  color: #525354;
}

/*header*/

/* CSS of Fonts */
span,p,a {
  font-size: 1.25rem;
  font-family: helvetica;
  color: #525354;
}
h1 {
  font-size: 2.5rem;
  font-family: helvetica;
  color: #525354;
}
h2, h3 {
  font-size: 2rem;
}
/*CSS for Fonts done */

.container {
  display: flex;
  flex-wrap: wrap;
  background-color: #cbced3;

}
.column1 {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 1.5rem;
  padding-right: 12px;
  width: 60%;
}
.column1 video {
  width: 100%;
}
.column1 img {
  width: 100%;
  height: auto;
}
.column2{
  padding-left: 12px;
  width: 36%;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;;
}
.content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 90%;
  height: auto;
}
#section1 .column2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
#section1 .column2 h1 {
  font-size: 4rem;
  margin: 0;
}
#section1 .column2 p {
  font-size: 2rem;
}
.button {
  width: 100%;
  text-align: center;
  padding: 8px 0px;
  background-color: #3a4351;
}
.button {
  color: white;
  text-decoration: none;
  font-size: 2rem;

}

.section2_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

}
.section2_container img {
  width: 35%;
  height: auto;
  padding: 1rem 1rem;
}
.section2_container h3 {
}
.section2_content {
  width: 60%;
}
.section2_content p,a {
  font-weight: normal;
}

#section2 {
  background-color: #fcfbf9;
}
#section2 .section2_container:hover{
    background-color: #c7c9cc;
}
#section2 .column1 h1 {
}
#section2 .column1 p {
  font-weight: normal;
}
#section2 .column1 {
  border-right: .5px solid grey;
}

#section2 .column2 {
  padding-top: 1rem;

}

/* section 3*/
.section3 {
  background-color: #dee0e2;
}
.section3_content:hover {
  border: 1px solid grey;
}
.section3 h1 {
  width: 100%;
  text-align: center;
  padding-top: 2rem;
}
.section3_container {
  padding: 2rem 4rem;

}
.section3_content {
  width: 30%;
  margin: 1rem 1rem;
  background-color: white;
  padding-bottom: 1.5rem;
  text-align: left;

}
.section3_content p, span {
  margin-left:1rem;
  font-weight: normal;
}
.section3_content h2{
  font-weight: bolder;
  margin-left: 1rem;
}
.section3_content img {
  width: 100%;
  height: auto;
}
.row {
  width: 100%;
  display: flex;
}
#section4 {
  background-color: #fcfbf9;
}
#section4 .column2 {
  justify-content: flex-start;
}
#section4 .section2_container {
  margin-top: 1rem;
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 1rem 1.5rem;
  border-top: 1px solid grey;
}
footer ul {
  display: flex;

}
footer ul li  {
  list-style: none;
  padding-left: 1rem;

}
footer ul li a {
  text-decoration: none;
}
